.cart-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cart-heading {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Table Styling */
.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.cart-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Image Styling */
.cart-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.cart-fixed {
    position: fixed;
    top: 10px; /* Adjust to avoid navbar overlap */
    right: 20px;
    z-index: 1000; /* Ensure it stays above other elements */
}

.cart-button {
    background-color: #ffcc00;
    align-items: right;
    border: none;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}