.footer {
    background-color: #0eb4fc;
    color: #fff;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;   
     
}

.footer h2{
    text-align: left;
    font-size:50px;
    margin-left: 40px;

}
.footer p{
    text-align: left;
    font-size: medium;
    margin-left: 40px;
}